.login {
	width: 44%;
	h5 {
		font-size: 1.6rem;
		margin-bottom: 2rem;
	}
	p {
		font-size: 0.8rem;
		margin-bottom: 2rem;
		.span {
			color: #286efa;
			font-weight: 600;
		}
	}

	.floating-label-group {
		position: relative;
		height: 2.4rem;
		width: 100%;
		margin-bottom: 1.5rem;
		select,
		input {
			border: 1px solid rgba(0, 0, 0, 0.1);
			border-radius: 5px;
			height: 2.4rem;
			width: 96%;
			margin-left: 0.2rem;

			height: 2.3rem;
		}
		select {
			width: 97%;
		}

		select:focus,
		input:focus {
			outline: none !important;
		}
		.floating-label {
			font-size: 13px;
			color: rgba(0, 0, 0, 0.6);
			position: absolute;
			pointer-events: none;
			top: 9px;
			left: 12px;
			transition: all 0.1s ease;
			padding: 0.2rem;
		}

		select:focus ~ .floating-label,
		input:focus ~ .floating-label,
		select:not(:focus):valid ~ .floating-label,
		input:not(:focus):valid ~ .floating-label {
			height: 8px;

			margin: 0;
			padding: 0 5px;
			background-color: white;
			top: -7px;
			bottom: 0px;
			left: 4px;
			font-size: 11px;
			opacity: 1;
			color: #404040;
		}
		button {
			position: absolute;
			background-color: transparent;
			border: 0;
			padding: 0.8rem;
			top: 0;
			right: 0;

			.fa {
				position: absolute;
				font-size: 12px;
				padding: 0.8rem;
				top: 0;
				right: 0;
			}
			.fa-angle-down {
				font-size: 18px;
			}
		}
		.email-error {
			padding: 0.2rem 0.2rem;
			// position: absolute;
			// bottom: 2;
			// left: 0;
			.error {
				font-size: 0.6rem;
				color: red;
				margin: 0;
			}
		}
	}

	.pass-info {
		font-size: 0.6rem;
		color: rgba(0, 0, 0, 0.3);
		margin: 0;
		margin-bottom: 2rem;
	}
	.btn {
		border: 0;
		border-radius: 5px;
		background-color: #ededed;
		width: 100%;
		height: 2.6rem;
		margin: 0;
		margin-bottom: 2rem;
		p {
			color: rgba(0, 0, 0, 0.4);

			font-size: 0.6rem;
			font-weight: 600;
			padding: 0.3rem;
		}
	}
	.bottom-text {
		color: rgba(0, 0, 0, 0.7);
		line-height: 1.6rem;
		font-size: 0.7rem;
		margin-bottom: 0.8rem;
		font-weight: 600;
		span {
			color: #286efa;
		}
	}
}
