.login {
	width: 44%;
	h5 {
		font-size: 1.6rem;
		margin-bottom: 2rem;
	}
	p {
		font-size: 0.8rem;
		margin-bottom: 2rem;
		.span {
			color: #286efa;
			font-weight: 600;
		}
	}
	.pass-info {
		font-size: 0.6rem;
		color: rgba(0, 0, 0, 0.3);
		margin: 0;
		margin-bottom: 2rem;
	}
	.btn {
		border: 0;
		border-radius: 5px;
		background-color: #ededed;
		width: 100%;
		height: 2.6rem;
		margin: 0;
		margin-bottom: 2rem;
		p {
			color: rgba(0, 0, 0, 0.4);

			font-size: 0.6rem;
			font-weight: 600;
			padding: 0.3rem;
		}
	}
	.bottom-text {
		color: rgba(0, 0, 0, 0.7);
		line-height: 1.6rem;
		font-size: 0.7rem;
		margin-bottom: 0.8rem;
		font-weight: 600;
		span {
			color: #286efa;
		}
	}
}
